services:
  app:
    build:
      context: ./
      dockerfile: docker/golang/Dockerfile
      args:
        GO_VERSION: 1.25
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - ".env"
    depends_on:
      - postgres

  postgres:
    image: postgres:18-alpine
    environment:
      - "POSTGRES_DB=${DB_NAME}"
      - "POSTGRES_USER=${DB_USER}"
      - "POSTGRES_PASSWORD=${DB_PASSWORD}"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
